body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    background:#ededed;
}

.container{
    max-width: 690px;
    margin: 0 auto;
    padding-left: 50px;
}

.blue {
    color:#3f7abe;
}

h1{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 28px;
    color: #000380;
}

#balloons .balloon{
    background-color: #ff3300;
    height: 121px;
    width: 119px;
    text-align: center;
    color: #ff3300;
    border-radius: 100%;
    margin-top: 20px;
    display: inline-block;
    font-size:30px;
    margin: 2.5px 5px 2.5px 30px;
}

#balloons .balloon:nth-child(3n+1){
    background-color: #ffce00;
    color: #ffce00;
}
#balloons .balloon:nth-child(3n-1){
    background-color:#3f7abe;
    color:#3f7abe;
}
#balloons .balloon:nth-child(5n){
    background-color:#8e7a8e;
    color:#8e7a8e;
}
#pop{
    display:none;
    color:#ff3300;
    font-size:70px;
}